In [1]:
import pandas as pd
import numpy as np
from check_py import check_insurance_is as iis

In [2]:
df = pd.read_excel(r"OneDrive_1_5-29-2023/insurance/algo_iis.xlsx")

In [3]:
df

,Unnamed: 0,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,IIS_01,IIS_011,...,IIS_521,IIS_60,IIS_61,IIS_62,IIS_70,IIS_191,IIS_201,IIS_211,CREATED_DATE,UPDATED_DATE
0,0,52579,2020-03-31,NaN,Q,ABI,N,3,412253059894,473049097744,...,-20509230160,81820751022,0,81820751022,0,NaN,NaN,NaN,2021-06-27 04:45:45.984,2021-06-27 04:45:45.984
1,1,52579,2020-03-31,NaN,Q,AIC,N,3,295631473877,344867286381,...,0,-35250434087,0,-35250434087,0,NaN,NaN,NaN,2021-06-27 04:45:45.984,2021-06-27 04:45:45.984
2,2,52579,2020-03-31,NaN,Q,BIC,N,3,491301684236,594564577165,...,-21319185810,63055969830,945779660,62110190170,0,NaN,NaN,NaN,2021-06-27 04:45:45.984,2021-06-27 04:45:45.984
3,3,52579,2020-03-31,NaN,Q,BLI,N,3,309175964395,287078347114,...,-2942568106,13802852426,0,13802852426,230,NaN,NaN,NaN,2021-06-27 04:45:45.984,2021-06-27 04:45:45.984
4,4,52579,2020-03-31,NaN,Q,BMI,N,3,1205730122306,1037007724672,...,-10182633268,40905723622,0,40905723622,361,NaN,NaN,NaN,2021-06-27 04:45:45.984,2021-06-27 04:45:45.984
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,204,43426243,2023-03-31,NaN,Q,PGI,N,3,1040703957584,1045363617629,...,-13590228915,54882795260,54882795260,0,0,NaN,NaN,NaN,2023-04-26 14:45:54.428,2023-04-26 14:45:54.428
205,205,43417190,2023-03-31,NaN,Q,PRE,N,3,712218193185,0,...,-9628744771,36516319687,36516319687,0,484,NaN,NaN,NaN,2023-04-21 17:48:05.335,2023-04-21 17:48:05.335
206,206,43416706,2023-03-31,NaN,Q,PVI,N,3,3732075736082,3230914215424,...,-49036839387,268791836384,255455057631,13336778753,1077,NaN,NaN,NaN,2023-04-21 15:42:53.068,2023-04-21 15:42:53.068
207,207,43439143,2023-03-31,NaN,Q,VNR,N,3,732990425739,862193371858,...,-28190962592,209100452037,209751827427,-651375390,1351,NaN,NaN,NaN,2023-05-05 18:33:20.651,2023-05-05 18:33:20.651
208,208,43438123,2023-03-31,NaN,Q,PTI,N,3,1756020543308,1545135248110,...,-15255057377,41169326322,41101110543,68215779,0,NaN,NaN,NaN,2023-05-05 13:20:02.688,2023-05-05 13:20:02.688

In [4]:
iis.check_iis_01(df=df)

CHECK ITEM & SUB-ITEMS IIS_01

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_01,IIS_011,IIS_012,IIS_013
118,HVB,2021-12-31,Y,Y,103582054945,0,0,0

In [5]:
iis.check_iis_02(df=df)

CHECK ITEM & SUB-ITEMS IIS_02

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_02, IIS_021, IIS_022, IIS_023, IIS_024]
Index: []

In [6]:
iis.check_iis_03(df=df)

CHECK ITEM & SUB-ITEMS IIS_03

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_03, IIS_02, IIS_01]
Index: []

In [7]:
iis.check_iis_04(df=df)

CHECK ITEM & SUB-ITEMS IIS_04

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_04, IIS_041, IIS_042]
Index: []

In [8]:
iis.check_iis_042(df=df)

CHECK ITEM & SUB-ITEMS IIS_042

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_042, IIS_043, IIS_044, IIS_045]
Index: []

In [9]:
iis.check_iis_10(df=df)

CHECK ITEM & SUB-ITEMS IIS_10

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_10,IIS_03,IIS_04,IIS_023,IIS_024
3,BLI,2020-03-31,Q,N,214211040829,167519074092,46691966737,-18110809785,0
4,BMI,2020-03-31,Q,N,944526114352,894474745321,50051369031,-48039705051,0
9,PRE,2020-03-31,Q,N,238783613143,152453659302,86329953841,-23588822855,0
21,PRE,2020-12-31,Y,Y,772728971929,507666569164,265062402765,3165752185,0
30,BLI,2020-06-30,Q,Y,238077251284,197967520081,40109731203,-8029082142,0
37,PTI,2020-06-30,Q,Y,1175774367090,940234899554,235539467536,-91578001259,0
50,PRE,2020-09-30,Q,N,197310130472,145222017008,52088113464,-29125670126,0
51,PTI,2020-09-30,Q,N,1112950958245,968916226210,144034732035,91578001259,0
56,BIC,2020-12-31,Q,N,535444032530,492185665047,43258367483,-24513328140,0
63,PRE,2020-12-31,Q,N,151163254609,91058626948,60104627661,33899137782,0
69,BIC,2020-12-31,Y,Y,1887816084145,1687422361021,200393723124,-24480342468,0
78,PRE,2021-12-31,Y,Y,850981543380,609813699042,241167844338,12018981317,0
80,VASS,2021-12-31,Y,Y,1032859739326,1003311663684,29548075642,-127093197276,0
98,BLI,2022-03-31,Q,N,271428034023,231567586998,39860447025,8722032413,0
99,BMI,2022-03-31,Q,N,942956048997,893713907608,49242141389,16917772814,0
103,PRE,2022-03-31,Q,Y,335522762188,246829268389,88693493799,23926791959,0
108,BLI,2022-06-30,Q,Y,291540663398,253976039936,37564623462,-19119886862,0
109,BMI,2022-06-30,Q,Y,1125210318059,1071953083022,53257235037,-16917772814,0
112,BLI,2021-12-31,Y,Y,1092236268741,930808771756,161427496985,-28629278780,0
115,PTI,2021-12-31,Q,N,1415687134206,1195999086969,219688047237,-143356514427,0
119,IFA,2022-03-31,Q,N,56635123221,54586704914,2048418307,-23366915421,0
123,PRE,2022-06-30,Q,N,305706907497,237462264807,68244642690,4173621942,0
124,PTI,2022-06-30,Q,Y,1547932611040,1290654019142,257278591898,78653869307,0
129,BLI,2022-09-30,Q,N,281689782055,236469120077,45220661978,-8501413211,0
131,IFA,2022-09-30,Q,N,131196492489,0,0,0,0
133,PGI,2022-09-30,Q,N,626468537324,535547071964,90921465360,25399570495,0
134,PRE,2022-09-30,Q,N,340517317130,270490076501,70027240629,29868581329,0
135,PTI,2022-09-30,Q,N,978253799529,825082023504,153171776025,-78653869307,0
140,BLI,2021-03-31,Q,N,273747065527,228691902517,45055163010,-57821233335,0
141,BMI,2021-03-31,Q,N,851076043221,806354442189,44721601032,-25572611841,0
148,IFA,2021-03-31,Q,N,348003360766,338715766445,9287594321,-38065632823,0
149,PRE,2021-03-31,Q,N,252730438483,179360616793,73369821690,5460721961,0
153,BLI,2021-06-30,Q,Y,265584992847,228331338395,37253654452,-34856427687,0
155,PRE,2021-06-30,Q,N,218264951955,153268152628,64996799327,-5399151918,0
160,BMI,2021-06-30,Q,Y,986661816232,934368421844,52293394388,25572611841,0
166,PTI,2021-06-30,Q,Y,1273429939639,1048299535752,225130403887,143356514427,0
169,BLI,2021-09-30,Q,N,254403727786,213011440146,41392287640,-1175900694,0
171,PRE,2021-09-30,Q,N,256869920417,205746038650,51123881767,59330383233,0
186,BLI,2023-03-31,Q,N,288068638652,248483959406,39584679246,-24898516669,0
187,BMI,2023-03-31,Q,N,1125470368395,1066016502505,59453865890,53960852207,0
196,BLI,2022-12-31,Y,Y,1177438957389,1020864077032,156574880357,-16401755513,0
199,IFA,2022-12-31,Q,N,122158273936,0,0,0,0
200,IFA,2022-12-31,Y,Y,427049540698,417218437625,9831103073,-63069430100,0
205,PRE,2023-03-31,Q,N,424820312214,345023923862,79796388352,5985229837,0

In [10]:
iis.check_iis_112(df=df)

CHECK ITEM & SUB-ITEMS IIS_112

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_112, IIS_121, IIS_122, IIS_123]
Index: []

In [11]:
iis.check_iis_126(df=df)

CHECK ITEM & SUB-ITEMS IIS_126

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_126, IIS_13, IIS_14]
Index: []

In [12]:
iis.check_iis_15(df=df)

CHECK ITEM & SUB-ITEMS IIS_15

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_15,IIS_124,IIS_125
0,ABI,2020-03-31,Q,N,-102848811644,-94206608713,0
1,AIC,2020-03-31,Q,N,-94313467957,-81442562997,0
2,BIC,2020-03-31,Q,N,-101331385676,-98994227848,0
3,BLI,2020-03-31,Q,N,-54440638084,-47539374343,0
4,BMI,2020-03-31,Q,N,-308954115696,-289275984767,0
...,...,...,...,...,...,...,...
204,PGI,2023-03-31,Q,N,-366007641959,-317656037498,0
205,PRE,2023-03-31,Q,N,-167240603062,-115092005817,0
206,PVI,2023-03-31,Q,N,-619117294777,-486585363230,0
207,VNR,2023-03-31,Q,N,-117247690340,-133015645564,0
208,PTI,2023-03-31,Q,N,-692754162267,-593802104170,0

In [13]:
iis.check_iis_17(df=df)

CHECK ITEM & SUB-ITEMS IIS_17

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_17, IIS_171, IIS_179, IIS_1710, IIS_1711]
Index: []

In [14]:
iis.check_iis_171(df=df)

CHECK ITEM & SUB-ITEMS IIS_171

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_171, IIS_172, IIS_173, IIS_174, IIS_175, IIS_176, IIS_177, IIS_178]
Index: []

In [15]:
iis.check_iis_18(df=df)

CHECK ITEM & SUB-ITEMS IIS_18

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_18,IIS_15,IIS_161,IIS_162,IIS_17
39,VASS,2020-06-30,Q,Y,-263228524794,0,0,0,0
131,IFA,2022-09-30,Q,N,-107384587826,0,0,0,0
199,IFA,2022-12-31,Q,N,-93985258577,0,0,0,0

In [16]:
iis.check_iis_19(df=df)

CHECK ITEM & SUB-ITEMS IIS_19

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_19,IIS_10,IIS_18
39,VASS,2020-06-30,Q,Y,165541063014,403142542309,-263228524794

In [17]:
iis.check_iis_192(df=df)

CHECK ITEM & SUB-ITEMS IIS_192

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_192, IIS_202, IIS_212]
Index: []

In [18]:
iis.check_iis_24(df=df)

CHECK ITEM & SUB-ITEMS IIS_24

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_24,IIS_22,IIS_23,IIS_306
104,PTI,2022-03-31,Q,N,71433612447,76353828141,-4920215694,3083014426
117,VNR,2022-03-31,Q,N,43565159848,51277361634,-7712201786,12041645622

In [19]:
iis.check_iis_26(df=df)

CHECK ITEM & SUB-ITEMS IIS_26

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_26, IIS_261, IIS_262, IIS_263]
Index: []

In [20]:
iis.check_iis_301(df=df)

CHECK ITEM & SUB-ITEMS IIS_301

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, IIS_301, IIS_302, IIS_303]
Index: []

In [21]:
iis.check_iis_40(df=df)

CHECK ITEM & SUB-ITEMS IIS_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,IIS_40,IIS_31,IIS_32
71,VNR,2021-12-31,Q,N,-115350590,31472931,146823521
75,BVH,2021-12-31,Y,Y,-2079859229,28644118166,30723977395
77,PGI,2021-12-31,Y,Y,-281652514,2670754583,2952407097
79,PVI,2021-12-31,Y,Y,-15973626555,-11701771015,4271855540
81,VNR,2021-12-31,Y,Y,-416016290,211758186,627774476
...,...,...,...,...,...,...,...
203,MIG,2023-03-31,Q,N,-87559457,61038433,148597890
204,PGI,2023-03-31,Q,N,-1484989196,2121942042,3606931238
206,PVI,2023-03-31,Q,N,-17812411142,3948373182,21760784324
207,VNR,2023-03-31,Q,N,-209565683,-27862956,181702727
208,PTI,2023-03-31,Q,N,-1154492945,324855561,1479348506