In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_bank_is as bis

In [2]:
# Assign pathlink
path_link_db_algo = r"E:\Tung\BSC_Config\algo_db.toml"

In [3]:
# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)

In [4]:
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

In [5]:
# Connect to the Oracle SQL Developer
# cx_Oracle.init_oracle_client(lib_dir=r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10")
lib_dir = r"E:\Oracle\instantclient-basic-windows.x64-21.10.0.0.0dbru\instantclient_21_10"

try:
    cx_Oracle.init_oracle_client(lib_dir=lib_dir)
except Exception as err:
    print("Error connecting: cx_Oracle.init_oracle_client()")
    print(err)

cx_Oracle.clientversion()
os.environ["PATH"] = lib_dir + ";" + os.environ["PATH"]


dsn_tns = cx_Oracle.makedsn(host, port, service_name=service_name) # if needed, place an 'r' before any parameter in order to address special characters such as '\'.
conn = cx_Oracle.connect(user=user, password=password, dsn=dsn_tns) # if needed, place an 'r' before any parameter in order to address special characters such as '\'. For example, if your user name contains '\', you'll need to place 'r' before the user name: user=r'User Name'
c = conn.cursor()

In [6]:
df = pd.read_sql_query(
    """ SELECT * FROM BANK_INCOME
    """, con=conn
)

c:\Users\tungtt1\Envs\quant\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [7]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/bank/algo_bis.xlsx")

In [8]:
df

,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,BIS_1,BIS_2,BIS_3,...,BIS_17,BIS_18,BIS_19,BIS_20,BIS_22,BIS_22A,BIS_23,BIS_21,CREATED_DATE,UPDATED_DATE
0,41625877,2021-09-30,None,Q,ABB,N,3,1.585629e+12,-8.174320e+11,7.681970e+11,...,4.078950e+11,-8.164200e+10,0.000000e+00,-8.164200e+10,0.000000e+00,3.262530e+11,0.0,None,2021-10-21 11:35:54.817796,2021-10-21 11:35:54.817796
1,41637277,2021-09-30,None,Q,MBB,N,3,9.588708e+12,-3.073514e+12,6.515194e+12,...,3.898303e+12,-7.633400e+11,-1.275000e+10,-7.760900e+11,-1.000370e+11,3.022176e+12,0.0,None,2021-10-26 09:55:10.286394,2021-10-26 09:55:10.286394
2,42037022,2021-12-31,None,Y,NAB,Y,12,1.105434e+13,-6.771150e+12,4.283189e+12,...,1.799091e+12,-3.647280e+11,0.000000e+00,-3.647280e+11,0.000000e+00,1.434363e+12,2794.0,None,2022-02-09 10:53:13.972912,2022-03-10 15:06:07.018835
3,42459029,2022-06-30,None,Q,BAOVIETBAN,N,3,7.700114e+11,-6.013328e+11,1.686786e+11,...,1.762826e+10,-3.525652e+09,0.000000e+00,-3.525652e+09,0.000000e+00,1.410261e+10,0.0,None,2022-07-21 15:01:20.992136,2022-07-21 15:01:20.992136
4,42644769,2022-06-30,None,Q,NVB,Y,3,1.072394e+12,-8.793570e+11,1.930370e+11,...,-6.429000e+09,1.285000e+09,0.000000e+00,1.285000e+09,0.000000e+00,-5.144000e+09,37.0,None,2022-07-21 15:01:20.992136,2022-09-05 15:46:29.708696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,52594,2020-06-30,None,Q,EIB,Y,3,2.648175e+12,-1.888765e+12,7.594100e+11,...,9.420400e+10,-1.927600e+10,0.000000e+00,-1.927600e+10,0.000000e+00,7.492800e+10,0.0,None,2021-06-27 04:54:03.633073,2021-06-27 04:54:03.633073
495,52594,2020-06-30,None,Q,BID,Y,3,2.345759e+13,-1.651854e+13,6.939043e+12,...,2.544599e+12,-5.022880e+11,5.972000e+09,-4.963160e+11,-6.524100e+10,1.983042e+12,0.0,None,2021-06-27 04:54:03.633073,2021-06-27 04:54:03.633073
496,52594,2020-06-30,None,Q,HDB,Y,3,5.437647e+12,-2.728107e+12,2.709540e+12,...,1.656932e+12,-3.371350e+11,6.000000e+08,-3.365350e+11,-1.098470e+11,1.210550e+12,1254.0,None,2021-06-27 04:54:03.633073,2021-06-27 04:54:03.633073
497,52594,2020-06-30,None,Q,SHB,Y,3,7.707421e+12,-5.269383e+12,2.438038e+12,...,8.804870e+11,-1.375580e+11,-2.990700e+10,-1.674650e+11,0.000000e+00,7.130220e+11,0.0,None,2021-06-27 04:54:03.633073,2021-06-27 04:54:03.633073
498,52594,2020-06-30,None,Q,MSB,Y,3,2.513862e+12,-1.429715e+12,1.084147e+12,...,6.845920e+11,-1.342950e+11,0.000000e+00,-1.342950e+11,0.000000e+00,5.502970e+11,512.0,None,2021-06-27 04:54:03.633073,2021-06-27 04:54:03.633073

In [9]:
bis.check_bis_12(df=df)

CHECK ITEM & SUB-ITEMS BIS_12

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_12, BIS_10, BIS_11]
Index: []

In [10]:
bis.check_bis_14a(df=df)

CHECK ITEM & SUB-ITEMS BIS_14A

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_14A, BIS_3, BIS_6, BIS_7, BIS_8, BIS_9, BIS_12, BIS_13]
Index: []

In [11]:
bis.check_bis_15(df=df)

CHECK ITEM & SUB-ITEMS BIS_15

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_15, BIS_14A, BIS_14]
Index: []

In [12]:
bis.check_bis_17(df=df)

CHECK ITEM & SUB-ITEMS BIS_17

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_17, BIS_15, BIS_16]
Index: []

In [13]:
bis.check_bis_20(df=df)

CHECK ITEM & SUB-ITEMS BIS_20

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_20, BIS_18, BIS_19]
Index: []

In [14]:
bis.check_bis_21(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_17,BIS_20
0,ABB,2021-09-30,Q,N,None,4.078950e+11,-8.164200e+10
1,MBB,2021-09-30,Q,N,None,3.898303e+12,-7.760900e+11
2,NAB,2021-12-31,Y,Y,None,1.799091e+12,-3.647280e+11
3,BAOVIETBAN,2022-06-30,Q,N,None,1.762826e+10,-3.525652e+09
4,NVB,2022-06-30,Q,Y,None,-6.429000e+09,1.285000e+09
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,None,9.420400e+10,-1.927600e+10
495,BID,2020-06-30,Q,Y,None,2.544599e+12,-4.963160e+11
496,HDB,2020-06-30,Q,Y,None,1.656932e+12,-3.365350e+11
497,SHB,2020-06-30,Q,Y,None,8.804870e+11,-1.674650e+11
498,MSB,2020-06-30,Q,Y,None,6.845920e+11,-1.342950e+11

In [15]:
bis.check_bis_21_subitems(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_22,BIS_22A
0,ABB,2021-09-30,Q,N,None,0.000000e+00,3.262530e+11
1,MBB,2021-09-30,Q,N,None,-1.000370e+11,3.022176e+12
2,NAB,2021-12-31,Y,Y,None,0.000000e+00,1.434363e+12
3,BAOVIETBAN,2022-06-30,Q,N,None,0.000000e+00,1.410261e+10
4,NVB,2022-06-30,Q,Y,None,0.000000e+00,-5.144000e+09
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,None,0.000000e+00,7.492800e+10
495,BID,2020-06-30,Q,Y,None,-6.524100e+10,1.983042e+12
496,HDB,2020-06-30,Q,Y,None,-1.098470e+11,1.210550e+12
497,SHB,2020-06-30,Q,Y,None,0.000000e+00,7.130220e+11
498,MSB,2020-06-30,Q,Y,None,0.000000e+00,5.502970e+11

In [16]:
bis.check_bis_22a(df=df)

CHECK ITEM & SUB-ITEMS BIS_22

    SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED        BIS_22       BIS_22A
1             MBB  2021-09-30         Q       N -1.000370e+11  3.022176e+12
11            TCB  2021-12-31         Y       Y -3.631320e+11  1.805225e+13
12            TCB  2021-12-31         Q       N -9.158800e+10  4.592230e+12
14            PVF  2021-12-31         Q       N -7.659000e+09  7.363200e+10
20            VCB  2021-06-30         Q       Y -4.569000e+09  3.960105e+12
..            ...         ...       ...     ...           ...           ...
489           CTG  2020-06-30         Q       Y -3.859300e+10  3.571650e+12
490           TCB  2020-06-30         Q       Y -7.211600e+10  2.816879e+12
493           MBB  2020-06-30         Q       Y -1.270790e+11  2.262584e+12
495           BID  2020-06-30         Q       Y -6.524100e+10  1.983042e+12
496           HDB  2020-06-30         Q       Y -1.098470e+11  1.210550e+12

[106 rows x 6 columns]

In [17]:
bis.check_bis_6(df=df)

CHECK ITEM & SUB-ITEMS BIS_6

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_6, BIS_4, BIS_5]
Index: []

In [18]:
bis.check_bis_12(df=df)

CHECK ITEM & SUB-ITEMS BIS_12

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_12, BIS_10, BIS_11]
Index: []

In [19]:
bis.check_bis_14a(df=df)

CHECK ITEM & SUB-ITEMS BIS_14A

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_14A, BIS_3, BIS_6, BIS_7, BIS_8, BIS_9, BIS_12, BIS_13]
Index: []

In [20]:
bis.check_bis_15(df=df)

CHECK ITEM & SUB-ITEMS BIS_15

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_15, BIS_14A, BIS_14]
Index: []

In [21]:
bis.check_bis_17(df=df)

CHECK ITEM & SUB-ITEMS BIS_17

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_17, BIS_15, BIS_16]
Index: []

In [22]:
bis.check_bis_20(df=df)

CHECK ITEM & SUB-ITEMS BIS_20

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_20, BIS_18, BIS_19]
Index: []

In [23]:
bis.check_bis_21(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_17,BIS_20
0,ABB,2021-09-30,Q,N,None,4.078950e+11,-8.164200e+10
1,MBB,2021-09-30,Q,N,None,3.898303e+12,-7.760900e+11
2,NAB,2021-12-31,Y,Y,None,1.799091e+12,-3.647280e+11
3,BAOVIETBAN,2022-06-30,Q,N,None,1.762826e+10,-3.525652e+09
4,NVB,2022-06-30,Q,Y,None,-6.429000e+09,1.285000e+09
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,None,9.420400e+10,-1.927600e+10
495,BID,2020-06-30,Q,Y,None,2.544599e+12,-4.963160e+11
496,HDB,2020-06-30,Q,Y,None,1.656932e+12,-3.365350e+11
497,SHB,2020-06-30,Q,Y,None,8.804870e+11,-1.674650e+11
498,MSB,2020-06-30,Q,Y,None,6.845920e+11,-1.342950e+11

In [24]:
bis.check_bis_21_subitems(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_22,BIS_22A
0,ABB,2021-09-30,Q,N,None,0.000000e+00,3.262530e+11
1,MBB,2021-09-30,Q,N,None,-1.000370e+11,3.022176e+12
2,NAB,2021-12-31,Y,Y,None,0.000000e+00,1.434363e+12
3,BAOVIETBAN,2022-06-30,Q,N,None,0.000000e+00,1.410261e+10
4,NVB,2022-06-30,Q,Y,None,0.000000e+00,-5.144000e+09
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,None,0.000000e+00,7.492800e+10
495,BID,2020-06-30,Q,Y,None,-6.524100e+10,1.983042e+12
496,HDB,2020-06-30,Q,Y,None,-1.098470e+11,1.210550e+12
497,SHB,2020-06-30,Q,Y,None,0.000000e+00,7.130220e+11
498,MSB,2020-06-30,Q,Y,None,0.000000e+00,5.502970e+11

In [25]:
bis.check_bis_22a(df=df)

CHECK ITEM & SUB-ITEMS BIS_22

    SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED        BIS_22       BIS_22A
1             MBB  2021-09-30         Q       N -1.000370e+11  3.022176e+12
11            TCB  2021-12-31         Y       Y -3.631320e+11  1.805225e+13
12            TCB  2021-12-31         Q       N -9.158800e+10  4.592230e+12
14            PVF  2021-12-31         Q       N -7.659000e+09  7.363200e+10
20            VCB  2021-06-30         Q       Y -4.569000e+09  3.960105e+12
..            ...         ...       ...     ...           ...           ...
489           CTG  2020-06-30         Q       Y -3.859300e+10  3.571650e+12
490           TCB  2020-06-30         Q       Y -7.211600e+10  2.816879e+12
493           MBB  2020-06-30         Q       Y -1.270790e+11  2.262584e+12
495           BID  2020-06-30         Q       Y -6.524100e+10  1.983042e+12
496           HDB  2020-06-30         Q       Y -1.098470e+11  1.210550e+12

[106 rows x 6 columns]