In [1]:
import pandas as pd
import numpy as np
import oracledb
import os
import platform
import sys
import tomli
import datetime as dt
from check_py import check_security_is as sis

pd.set_option('float_format', '{:f}'.format)

In [2]:
# Assign pathlink
path_link_db_algo = r"C:\Users\tungtt1\Desktop\bsc_config\config_algo.toml"

# Import files connfiq
with open(path_link_db_algo, mode="rb") as fp:
    config_acc = tomli.load(fp)
    
# Set up config for Oracle SQl Developer
host = config_acc["algo_acc"]["host"]
port = config_acc["algo_acc"]["port"]
service_name = config_acc["algo_acc"]["service_name"]
user = config_acc["algo_acc"]["user"]
password = config_acc["algo_acc"]["password"]

oracledb.init_oracle_client()

# Connect to database Oracle
conn = oracledb.connect(
    user=user,
    password=password,
    dsn=host+"/"+service_name
)

c = conn.cursor()

In [3]:
df = pd.read_sql_query(
    """ SELECT 
    * 
    FROM SECURITY_INCOME
    WHERE LENGTH(SECURITY_CODE) = 3
    ORDER BY REPORT_DATE ASC, SECURITY_CODE ASC
    """, con=conn
)

C:\Users\tungtt1\AppData\Local\Temp\45\ipykernel_24892\3031167048.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(

In [4]:
# df = pd.read_excel(r"OneDrive_1_5-29-2023/securities/algo_sis.xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2109 entries, 0 to 2108
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SCN              2109 non-null   int64
 1   REPORT_DATE      2109 non-null   datetime64[ns]
 2   REPORTED_DATE    79 non-null     object
 3   FREQ_CODE        2109 non-null   object
 4   SECURITY_CODE    2109 non-null   object
 5   AUDITED          2109 non-null   object
 6   MONTH_IN_PERIOD  2109 non-null   int64
 7   SIS_20           1975 non-null   float64
 8   SIS_1            2109 non-null   float64
 9   SIS_1_1          2109 non-null   float64
 10  SIS_1_2          2109 non-null   float64
 11  SIS_1_3          2109 non-null   float64
 12  SIS_2            2109 non-null   float64
 13  SIS_3            2109 non-null   float64
 14  SIS_4            2109 non-null   float64
 15  SIS_5            2109 non-null   float64
 16  SIS_6            2109 non-null   float64
 17  SIS_7_1          2109 non-null   float64
 18  SIS_7_2          2106 non-null   float64
 19  SIS_8            2109 non-null   float64
 20  SIS_8_1          2106 non-null   float64
 21  SIS_9            2109 non-null   float64
 22  SIS_9_1          2106 non-null   float64
 23  SIS_9_2          2106 non-null   float64
 24  SIS_10           2109 non-null   float64
 25  SIS_11           2109 non-null   float64
 26  SIS_11_1         1946 non-null   float64
 27  SIS_11_2         2108 non-null   float64
 28  SIS_40           2109 non-null   float64
 29  SIS_21           2109 non-null   float64
 30  SIS_21_1         2109 non-null   float64
 31  SIS_21_2         2109 non-null   float64
 32  SIS_21_3         2109 non-null   float64
 33  SIS_22           2109 non-null   float64
 34  SIS_22_1         2106 non-null   float64
 35  SIS_23           2109 non-null   float64
 36  SIS_24           2109 non-null   float64
 37  SIS_25           2109 non-null   float64
 38  SIS_26           2109 non-null   float64
 39  SIS_27           2109 non-null   float64
 40  SIS_28           2109 non-null   float64
 41  SIS_29           2109 non-null   float64
 42  SIS_29_1         2106 non-null   float64
 43  SIS_30           2109 non-null   float64
 44  SIS_31           2109 non-null   float64
 45  SIS_32           2109 non-null   float64
 46  SIS_32_1         2106 non-null   float64
 47  SIS_50_1         2109 non-null   float64
 48  SIS_50           2109 non-null   float64
 49  SIS_41           2109 non-null   float64
 50  SIS_42           2109 non-null   float64
 51  SIS_43           2109 non-null   float64
 52  SIS_44           2109 non-null   float64
 53  SIS_60           2109 non-null   float64
 54  SIS_51           2109 non-null   float64
 55  SIS_52           2109 non-null   float64
 56  SIS_53           2109 non-null   float64
 57  SIS_54           2109 non-null   float64
 58  SIS_55           2109 non-null   float64
 59  SIS_56           2109 non-null   float64
 60  SIS_61           2109 non-null   float64
 61  SIS_62           2109 non-null   float64
 62  SIS_70           2109 non-null   float64
 63  SIS_71           2109 non-null   float64
 64  SIS_72           2109 non-null   float64
 65  SIS_80           2109 non-null   float64
 66  SIS_80_1         2109 non-null   float64
 67  SIS_90           2109 non-null   float64
 68  SIS_91           2109 non-null   float64
 69  SIS_92           2109 non-null   float64
 70  SIS_100          2109 non-null   float64
 71  SIS_100_1        2109 non-null   float64
 72  SIS_100_2        2109 non-null   float64
 73  SIS_200          2109 non-null   float64
 74  SIS_201          2109 non-null   float64
 75  SIS_202          2109 non-null   float64
 76  SIS_203          2109 non-null   float64
 77  SIS_203_1        2106 non-null   float64
 78  SIS_301          2109 non-null   float64
 79  SIS_302          2109 non-null   float64
 80  SIS_303          2109 non-null   float64
 81  SIS_304          2109 non-null   float64
 82  SIS_305          2109 non-null   float64
 83  SIS_306          2109 non-null   float64
 84  SIS_307          2109 non-null   float64
 85  SIS_400          2109 non-null   float64
 86  SIS_401          2109 non-null   float64
 87  SIS_402          2109 non-null   float64
 88  SIS_500          2109 non-null   float64
 89  SIS_501          2109 non-null   float64
 90  SIS_502          2109 non-null   float64
 91  SIS_1_4          938 non-null    float64
 92  SIS_21_4         938 non-null    float64
 93  SIS_300          938 non-null    float64
 94  CREATED_DATE     2109 non-null   datetime64[ns]
 95  UPDATED_DATE     2109 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(87), int64(2), object(4)
memory usage: 1.5+ MB

In [6]:
sis.check_sis_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_1

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_1, SIS_1_1, SIS_1_2, SIS_1_3]
Index: []

In [7]:
sis.check_sis_11(df=df)

CHECK ITEM & SUB-ITEMS SIS_11

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_11,SIS_11_1,SIS_11_2
0,VISC,2021-12-31,Y,Y,6433514668.000000,0.000000,83915441121.000000
1,KISVN,2023-03-31,Q,N,587109363.000000,0.000000,479214882132.000000
2,VISC,2023-03-31,Q,N,149611994.000000,0.000000,8990095897.000000
3,MBS,2023-03-31,Q,N,3921021367.000000,0.000000,335886130586.000000
4,DSC,2023-03-31,Q,N,4970000.000000,0.000000,67458695384.000000
...,...,...,...,...,...,...,...
2104,TVS,2023-06-30,Q,N,2941794767.000000,0.000000,343745853891.000000
2105,VDS,2023-06-30,Q,N,3135515175.000000,0.000000,191264649842.000000
2106,AAS,2023-06-30,Q,N,0.000000,0.000000,168017824275.000000
2107,APSC,2023-06-30,Q,N,45264613.000000,0.000000,20029890244.000000
2108,TCI,2023-06-30,Q,N,76290328.000000,0.000000,46522348380.000000

In [8]:
sis.check_sis_20(df=df)

CHECK ITEM & SUB-ITEMS SIS_20

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_20,SIS_1,SIS_2,SIS_4,SIS_5,SIS_6,SIS_7_1,SIS_7_2,SIS_8,SIS_9,SIS_10,SIS_11
0,VISC,2021-12-31,Y,Y,83915441121.000000,1935227825.000000,0.000000,0.000000,0.000000,40876072410.000000,0.000000,0.000000,0.000000,5457860250.000000,14111039999.000000,6433514668.000000
1,KISVN,2023-03-31,Q,N,479214882132.000000,147147692298.000000,38217356396.000000,0.000000,114107496000.000000,63544737890.000000,0.000000,0.000000,0.000000,1154875213.000000,0.000000,587109363.000000
2,VISC,2023-03-31,Q,N,8990095897.000000,2383389846.000000,0.000000,0.000000,0.000000,2392526231.000000,0.000000,0.000000,0.000000,338192481.000000,135000000.000000,149611994.000000
3,MBS,2023-03-31,Q,N,335886130586.000000,67822278789.000000,36406866868.000000,5602328767.000000,0.000000,93109539860.000000,0.000000,0.000000,0.000000,5442756686.000000,3170000000.000000,3921021367.000000
4,DSC,2023-03-31,Q,N,67458695384.000000,19977366902.000000,2807063628.000000,0.000000,0.000000,11314145185.000000,0.000000,0.000000,0.000000,349867661.000000,2727272727.000000,4970000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,TVS,2023-06-30,Q,N,343745853891.000000,133320115221.000000,195557156025.000000,758.000000,0.000000,4253583118.000000,0.000000,0.000000,0.000000,622903956.000000,2043090909.000000,2941794767.000000
2105,VDS,2023-06-30,Q,N,191264649842.000000,51627197533.000000,0.000000,0.000000,0.000000,59159582153.000000,750000000.000000,0.000000,0.000000,1922318406.000000,1304545454.000000,3135515175.000000
2106,AAS,2023-06-30,Q,N,168017824275.000000,162991558477.000000,0.000000,0.000000,0.000000,3540994755.000000,0.000000,0.000000,0.000000,446019720.000000,35000000.000000,0.000000
2107,APSC,2023-06-30,Q,N,20029890244.000000,1019075000.000000,1027671233.000000,0.000000,0.000000,1046366080.000000,0.000000,0.000000,25000000.000000,56267807.000000,16704000000.000000,45264613.000000
2108,TCI,2023-06-30,Q,N,46522348380.000000,19628892934.000000,4802246248.000000,5693550000.000000,0.000000,6123271015.000000,0.000000,0.000000,142232878.000000,319564695.000000,0.000000,76290328.000000

In [9]:
sis.check_sis_21(df=df)

CHECK ITEM & SUB-ITEMS SIS_21

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_21, SIS_21_1, SIS_21_2, SIS_21_3]
Index: []

In [10]:
sis.check_sis_40(df=df)

CHECK ITEM & SUB-ITEMS SIS_40

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_40,SIS_21,SIS_22,SIS_23,SIS_24,SIS_25,SIS_26,SIS_27,SIS_28,SIS_29,SIS_30,SIS_31,SIS_32
104,VISC,2021-09-30,Q,N,20738528196.000000,833501951.000000,0.000000,0.000000,557004257.000000,0.000000,0.000000,-5708354644.000000,0.000000,0.000000,-331336068.000000,-288168345.000000,-577969914.000000
110,VTSS,2021-09-30,Q,N,651239591.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-465604322.000000,0.000000,0.000000,-3886310.000000,0.000000,0.000000
112,VTSS,2020-12-31,Q,N,376838257.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-567942583.000000,0.000000,0.000000,-1942421.000000,0.000000,0.000000
179,MASC,2021-06-30,Q,Y,-374118068755.000000,-52478862790.000000,0.000000,0.000000,-216068044049.000000,0.000000,-4206942222.000000,-195677761311.000000,0.000000,0.000000,-3154725237.000000,0.000000,0.000000
191,VIG,2021-06-30,Q,Y,-2224427267.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1818573079.000000,98192951.000000,-208224523.000000,-249109295.000000,-1173484.000000,-71247491.000000
207,NSIC,2021-09-30,Q,N,33103105898.000000,-747604530.000000,-5386323403.000000,0.000000,0.000000,0.000000,0.000000,-3609539080.000000,-1000000.000000,-59000000.000000,-176953743.000000,0.000000,-936400.000000
208,NSIC,2021-06-30,Q,N,57480592197.000000,-6274940583.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2547379570.000000,0.000000,-1798863636.000000,-176953743.000000,0.000000,-3212275682.000000
209,NSIC,2021-03-31,Q,N,16180058275.000000,0.000000,-220000000.000000,0.000000,0.000000,0.000000,0.000000,-1630218112.000000,0.000000,0.000000,-176953743.000000,0.000000,0.000000
274,ACBS,2020-09-30,Q,N,-69649868173.000000,-6038984216.000000,0.000000,0.000000,-40783794943.000000,0.000000,-1128248010.000000,-38158348049.000000,0.000000,0.000000,-2345678337.000000,-1023323680.000000,0.000000
279,VIG,2020-06-30,Q,Y,634778665.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-783568037.000000,0.000000,-20050000.000000,-188713743.000000,1611971073.000000,-12688391.000000
293,VIG,2020-12-31,Q,N,-1461170298.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-844115072.000000,0.000000,0.000000,-183111654.000000,-103114361.000000,-319272569.000000
305,MASC,2020-12-31,Q,N,-229124089216.000000,-27531818378.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-114776585540.000000,0.000000,-2723500000.000000,-2650187631.000000,0.000000,0.000000
331,MASC,2020-09-30,Q,N,-180292560847.000000,-21893599600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-80478637067.000000,0.000000,0.000000,-2910901060.000000,0.000000,0.000000
413,VIG,2020-09-30,Q,N,-904594148.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-552542671.000000,0.000000,0.000000,-182909005.000000,-87075230.000000,-34274962.000000
460,ACBS,2020-06-30,Q,Y,-43893965737.000000,1431069421.000000,0.000000,0.000000,13742635306.000000,0.000000,-343508964.000000,-36651546519.000000,0.000000,0.000000,-2341651236.000000,-545503996.000000,643049313.000000
465,VIG,2020-03-31,Q,N,-2398296714.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-563804237.000000,0.000000,0.000000,-182640259.000000,-1611971073.000000,-12053382.000000
549,VIG,2020-12-31,Y,N,-4129282495.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2744030017.000000,0.000000,0.000000,-737374661.000000,-210239591.000000,-378289304.000000
570,MASC,2021-03-31,Q,N,-293468373529.000000,-56983518179.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-135759223464.000000,0.000000,0.000000,-3247254645.000000,0.000000,-10110387.000000
663,MASC,2020-06-30,Q,Y,-109634644261.000000,41164361929.000000,0.000000,0.000000,0.000000,0.000000,-2125033222.000000,-68012947419.000000,0.000000,0.000000,-2661682677.000000,0.000000,0.000000
672,MASC,2020-03-31,Q,N,-183430304068.000000,-62723635310.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-59200737182.000000,0.000000,0.000000,-1770677737.000000,0.000000,0.000000
1092,ACBS,2021-06-30,Q,N,-298770337333.000000,-63954307857.000000,0.000000,0.000000,-44914976744.000000,0.000000,-2095028226.000000,-79967937756.000000,0.000000,0.000000,-2571500681.000000,-622893819.000000,-36713850.000000
1241,VIG,2021-03-31,Q,N,-936412297.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-625105664.000000,-98192951.000000,0.000000,-177266775.000000,0.000000,-10139253.000000
1319,VIG,2019-06-30,Q,Y,-1174963660.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1512788587.000000,-73583613.000000,-135617047.000000,11943944.000000,63332700.000000,443921180.000000
1331,VIG,2019-03-31,Q,N,-1443476891.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-675844266.000000,0.000000,0.000000,-212164860.000000,-63332700.000000,-464307302.000000
1392,VIG,2019-09-30,Q,N,-1025723317.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-732215673.000000,0.000000,0.000000,-184537339.000000,-75454545.000000,-17782232.000000
1508,MASC,2019-03-31,Q,N,-69686628724.000000,-7099607157.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-33764900475.000000,0.000000,0.000000,-965724439.000000,0.000000,0.000000
1570,MASC,2018-09-30,Q,N,-54369185201.000000,-3448113661.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-27500074532.000000,0.000000,0.000000,-860917771.000000,0.000000,0.000000
1593,JSIC,2018-06-30,Q,Y,-1929429816.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1653577467.000000,0.000000,-243834430.000000,-25336279.000000,0.000000,0.000000
1594,VIG,2018-12-31,Q,N,-1004879749.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-754926593.000000,0.000000,-216100413.000000,-19546827.000000,0.000000
1595,VIG,2018-09-30,Q,N,-1543415216.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1163515539.000000,0.000000,0.000000,-251937839.000000,-88593564.000000,-21213925.000000
1605,MASC,2019-09-30,Q,N,-108628677015.000000,-306541717.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-55756404950.000000,0.000000,0.000000,-1911447592.000000,0.000000,0.000000
1662,MASC,2019-12-31,Q,N,-140991532810.000000,-8133437924.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-72698585613.000000,0.000000,0.000000,-1564328405.000000,0.000000,0.000000
1665,MASC,2019-06-30,Q,Y,-94493001056.000000,-8265802456.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-40353089373.000000,0.000000,0.000000,-715047375.000000,0.000000,0.000000
1769,MASC,2018-06-30,Q,N,-89366481256.000000,-36689156243.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-36575480850.000000,0.000000,-9754000.000000,-717721895.000000,0.000000,0.000000
1834,VISC,2018-12-31,Q,N,-1377963470.000000,343416396.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1056506170.000000,0.000000,0.000000,-218605032.000000,-108587701.000000,-411812757.000000
1884,MASC,2018-12-31,Y,Y,-264115658642.000000,-68279542952.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-124038985648.000000,0.000000,-9754000.000000,-3063190111.000000,0.000000,0.000000
1945,MASC,2018-12-31,Q,N,-68606455395.000000,-11088542566.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-32729284575.000000,0.000000,0.000000,-879299978.000000,0.000000,0.000000
1947,MASC,2018-03-31,Q,N,-51773536790.000000,-17053730482.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-27234145691.000000,0.000000,0.000000,-605250467.000000,0.000000,0.000000
2046,VISC,2018-12-31,Y,Y,-9106708271.000000,-363979321.000000,0.000000,0.000000,0.000000,0.000000,-5000000.000000,-3871004328.000000,0.000000,-127058853.000000,-894232740.000000,-513162664.000000,-1278018426.000000

In [11]:
sis.check_sis_50(df=df)

CHECK ITEM & SUB-ITEMS SIS_50

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_50, SIS_41, SIS_42, SIS_43, SIS_44]
Index: []

In [12]:
sis.check_sis_50_1(df=df)

CHECK ITEM & SUB-ITEMS SIS_50_1

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_50_1,SIS_20,SIS_40
7,ABSC,2021-03-31,Q,N,28985553954.000000,NaN,-29114123461.000000
12,APSC,2021-12-31,Y,Y,38752533558.000000,NaN,-8933325247.000000
13,APSC,2021-12-31,Q,N,30930178981.000000,NaN,-3554525943.000000
14,DDSC,2021-12-31,Y,Y,253276872261.000000,NaN,-30710240470.000000
23,PGSC,2021-09-30,Q,N,65316584635.000000,NaN,-49087723118.000000
...,...,...,...,...,...,...,...
1406,HAC,2019-12-31,Y,Y,14360705942.000000,0.000000,-43951015736.000000
1528,ASIAS,2019-12-31,Y,Y,3343375380.000000,0.000000,-3320756438.000000
1627,ASIAS,2019-06-30,Q,N,2403835510.000000,0.000000,-755069035.000000
1660,PHS,2019-12-31,Y,Y,124197218202.000000,0.000000,-71384010204.000000
2042,SHS,2018-09-30,Q,N,176777065236.000000,0.000000,-101087421067.000000

In [13]:
sis.check_sis_60(df=df)

CHECK ITEM & SUB-ITEMS SIS_60

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_60,SIS_51,SIS_52,SIS_53,SIS_54,SIS_55,SIS_56
1574,VND,2018-03-31,Q,N,-51804199231.000000,0.000000,-51804199231.000000,0.000000,0.000000,0.000000,6526200000.000000
1690,VND,2018-06-30,Q,Y,-72376640296.000000,0.000000,-72376640296.000000,0.000000,0.000000,0.000000,-1050566721.000000
2048,VND,2018-09-30,Q,N,-72684269073.000000,-72684269073.000000,0.000000,0.000000,0.000000,0.000000,3045560000.000000

In [14]:
sis.check_sis_70(df=df)

CHECK ITEM & SUB-ITEMS SIS_70

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_70,SIS_50_1,SIS_50,SIS_60,SIS_61,SIS_62
104,VISC,2021-09-30,Q,N,11580517014.000000,5515322763.000000,94671422.000000,-680793388.000000,0.000000,-3056566453.000000
110,VTSS,2021-09-30,Q,N,-218167310.000000,469490632.000000,360163.000000,0.000000,0.000000,-400276432.000000
112,VTSS,2020-12-31,Q,N,-506089893.000000,569885004.000000,184608.000000,0.000000,0.000000,-313227754.000000
207,NSIC,2021-09-30,Q,N,12697891122.000000,9981357156.000000,63869715.000000,-4725937372.000000,0.000000,-5761789963.000000
208,NSIC,2021-06-30,Q,N,35912227401.000000,14010413214.000000,26643425.000000,-3083288247.000000,0.000000,-4501306760.000000
209,NSIC,2021-03-31,Q,N,6672714557.000000,2027171855.000000,30474314.000000,-2991936923.000000,0.000000,-4518709254.000000
1574,VND,2018-03-31,Q,N,172805331583.000000,278360432579.000000,2368390029.000000,-51804199231.000000,0.000000,-62645491794.000000
1690,VND,2018-06-30,Q,Y,104048749459.000000,243676139166.000000,1573496558.000000,-72376640296.000000,0.000000,-67773679248.000000
2048,VND,2018-09-30,Q,N,131925751061.000000,276356767869.000000,883931600.000000,-72684269073.000000,0.000000,-75676239335.000000

In [15]:
sis.check_sis_80(df=df)

CHECK ITEM & SUB-ITEMS SIS_80

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_80,SIS_71,SIS_72
2033,HBS,2023-06-30,Q,N,2530893.000000,2587993.000000,-10000.000000

In [16]:
sis.check_sis_90(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_90, SIS_70, SIS_80]
Index: []

In [17]:
sis.check_sis_90_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_90

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_90,SIS_91,SIS_92
209,NSIC,2021-03-31,Q,N,6672725381.000000,0.000000,0.000000

In [18]:
sis.check_sis_200(df=df)

CHECK ITEM & SUB-ITEMS SIS_200

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_200,SIS_90,SIS_100
790,HBS,2023-03-31,Q,N,4044139152.000000,5738664352.000000,-1147724770.000000
2033,HBS,2023-06-30,Q,N,3807510445.000000,5560397119.000000,-1112079424.000000

In [19]:
sis.check_sis_400(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,SIS_400,SIS_203_1,SIS_301,SIS_302,SIS_303,SIS_304,SIS_305,SIS_306,SIS_307
0,VISC,2021-12-31,Y,Y,25036959884.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,KISVN,2023-03-31,Q,N,78983661945.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,VISC,2023-03-31,Q,N,1229119228.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,MBS,2023-03-31,Q,N,121232147338.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,DSC,2023-03-31,Q,N,11133151490.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,TVS,2023-06-30,Q,N,122830550695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2105,VDS,2023-06-30,Q,N,109367597817.000000,0.000000,4650372259.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2106,AAS,2023-06-30,Q,N,39668647272.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2107,APSC,2023-06-30,Q,N,10501522750.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2108,TCI,2023-06-30,Q,N,55689045105.000000,0.000000,30691188733.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [20]:
sis.check_sis_400_sub_items(df=df)

CHECK ITEM & SUB-ITEMS SIS_400

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, SIS_400, SIS_401, SIS_402]
Index: []