In [1]:
import pandas as pd
import numpy as np
from check_py import check_bank_is as bis

In [2]:
df = pd.read_excel(r"OneDrive_1_5-29-2023/bank/algo_bis.xlsx")

In [3]:
df

,Unnamed: 0,SCN,REPORT_DATE,REPORTED_DATE,FREQ_CODE,SECURITY_CODE,AUDITED,MONTH_IN_PERIOD,BIS_1,BIS_2,...,BIS_17,BIS_18,BIS_19,BIS_20,BIS_22,BIS_22A,BIS_23,BIS_21,CREATED_DATE,UPDATED_DATE
0,0,41625877,2021-09-30,NaN,Q,ABB,N,3,1585629000000,-817432000000,...,407895000000,-81642000000,0,-81642000000,0,326253000000,0.0,NaN,2021-10-21 11:35:54.818,2021-10-21 11:35:54.818
1,1,41637277,2021-09-30,NaN,Q,MBB,N,3,9588708000000,-3073514000000,...,3898303000000,-763340000000,-12750000000,-776090000000,-100037000000,3022176000000,0.0,NaN,2021-10-26 09:55:10.286,2021-10-26 09:55:10.286
2,2,42037022,2021-12-31,NaN,Y,NAB,Y,12,11054339000000,-6771150000000,...,1799091000000,-364728000000,0,-364728000000,0,1434363000000,2794.0,NaN,2022-02-09 10:53:13.973,2022-03-10 15:06:07.019
3,3,42459029,2022-06-30,NaN,Q,BAOVIETBAN,N,3,770011366374,-601332778134,...,17628259860,-3525651972,0,-3525651972,0,14102607888,0.0,NaN,2022-07-21 15:01:20.992,2022-07-21 15:01:20.992
4,4,42644769,2022-06-30,NaN,Q,NVB,Y,3,1072394000000,-879357000000,...,-6429000000,1285000000,0,1285000000,0,-5144000000,37.0,NaN,2022-07-21 15:01:20.992,2022-09-05 15:46:29.709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,494,52594,2020-06-30,NaN,Q,EIB,Y,3,2648175000000,-1888765000000,...,94204000000,-19276000000,0,-19276000000,0,74928000000,0.0,NaN,2021-06-27 04:54:03.633,2021-06-27 04:54:03.633
495,495,52594,2020-06-30,NaN,Q,BID,Y,3,23457586000000,-16518543000000,...,2544599000000,-502288000000,5972000000,-496316000000,-65241000000,1983042000000,0.0,NaN,2021-06-27 04:54:03.633,2021-06-27 04:54:03.633
496,496,52594,2020-06-30,NaN,Q,HDB,Y,3,5437647000000,-2728107000000,...,1656932000000,-337135000000,600000000,-336535000000,-109847000000,1210550000000,1254.0,NaN,2021-06-27 04:54:03.633,2021-06-27 04:54:03.633
497,497,52594,2020-06-30,NaN,Q,SHB,Y,3,7707421000000,-5269383000000,...,880487000000,-137558000000,-29907000000,-167465000000,0,713022000000,0.0,NaN,2021-06-27 04:54:03.633,2021-06-27 04:54:03.633
498,498,52594,2020-06-30,NaN,Q,MSB,Y,3,2513862000000,-1429715000000,...,684592000000,-134295000000,0,-134295000000,0,550297000000,512.0,NaN,2021-06-27 04:54:03.633,2021-06-27 04:54:03.633

In [4]:
bis.check_bis_12(df=df)

CHECK ITEM & SUB-ITEMS BIS_12

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_12, BIS_10, BIS_11]
Index: []

In [5]:
bis.check_bis_14a(df=df)

CHECK ITEM & SUB-ITEMS BIS_14A

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_14A, BIS_3, BIS_6, BIS_7, BIS_8, BIS_9, BIS_12, BIS_13]
Index: []

In [6]:
bis.check_bis_15(df=df)

CHECK ITEM & SUB-ITEMS BIS_15

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_15, BIS_14A, BIS_14]
Index: []

In [7]:
bis.check_bis_17(df=df)

CHECK ITEM & SUB-ITEMS BIS_17

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_17, BIS_15, BIS_16]
Index: []

In [8]:
bis.check_bis_20(df=df)

CHECK ITEM & SUB-ITEMS BIS_20

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_20, BIS_18, BIS_19]
Index: []

In [9]:
bis.check_bis_21(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_17,BIS_20
0,ABB,2021-09-30,Q,N,NaN,407895000000,-81642000000
1,MBB,2021-09-30,Q,N,NaN,3898303000000,-776090000000
2,NAB,2021-12-31,Y,Y,NaN,1799091000000,-364728000000
3,BAOVIETBAN,2022-06-30,Q,N,NaN,17628259860,-3525651972
4,NVB,2022-06-30,Q,Y,NaN,-6429000000,1285000000
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,NaN,94204000000,-19276000000
495,BID,2020-06-30,Q,Y,NaN,2544599000000,-496316000000
496,HDB,2020-06-30,Q,Y,NaN,1656932000000,-336535000000
497,SHB,2020-06-30,Q,Y,NaN,880487000000,-167465000000
498,MSB,2020-06-30,Q,Y,NaN,684592000000,-134295000000

In [10]:
bis.check_bis_22(df=df)

CHECK ITEM & SUB-ITEMS BIS_21

,SECURITY_CODE,REPORT_DATE,FREQ_CODE,AUDITED,BIS_21,BIS_22,BIS_22A
0,ABB,2021-09-30,Q,N,NaN,0,326253000000
1,MBB,2021-09-30,Q,N,NaN,-100037000000,3022176000000
2,NAB,2021-12-31,Y,Y,NaN,0,1434363000000
3,BAOVIETBAN,2022-06-30,Q,N,NaN,0,14102607888
4,NVB,2022-06-30,Q,Y,NaN,0,-5144000000
...,...,...,...,...,...,...,...
494,EIB,2020-06-30,Q,Y,NaN,0,74928000000
495,BID,2020-06-30,Q,Y,NaN,-65241000000,1983042000000
496,HDB,2020-06-30,Q,Y,NaN,-109847000000,1210550000000
497,SHB,2020-06-30,Q,Y,NaN,0,713022000000
498,MSB,2020-06-30,Q,Y,NaN,0,550297000000

In [11]:
bis.check_bis_22a(df=df)

CHECK ITEM & SUB-ITEMS BIS_22

    SECURITY_CODE REPORT_DATE FREQ_CODE AUDITED        BIS_22         BIS_22A
1             MBB  2021-09-30         Q       N -100037000000   3022176000000
11            TCB  2021-12-31         Y       Y -363132000000  18052250000000
12            TCB  2021-12-31         Q       N  -91588000000   4592230000000
14            PVF  2021-12-31         Q       N   -7659000000     73632000000
20            VCB  2021-06-30         Q       Y   -4569000000   3960105000000
..            ...         ...       ...     ...           ...             ...
489           CTG  2020-06-30         Q       Y  -38593000000   3571650000000
490           TCB  2020-06-30         Q       Y  -72116000000   2816879000000
493           MBB  2020-06-30         Q       Y -127079000000   2262584000000
495           BID  2020-06-30         Q       Y  -65241000000   1983042000000
496           HDB  2020-06-30         Q       Y -109847000000   1210550000000

[106 rows x 6 columns]

In [12]:
bis.check_bis_6(df=df)

CHECK ITEM & SUB-ITEMS BIS_6

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_6, BIS_4, BIS_5]
Index: []

In [13]:
bis.check_bis_12(df=df)

CHECK ITEM & SUB-ITEMS BIS_12

Empty DataFrame
Columns: [SECURITY_CODE, REPORT_DATE, FREQ_CODE, AUDITED, BIS_12, BIS_10, BIS_11]
Index: []