# INSURANCE INCOME STATEMENT

Library

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt

Symbol

In [2]:
# Save as a table
sql_symbol = pd.read_csv("symbol_id.csv")
sql_symbol.drop(['Unnamed: 0'], axis=1, inplace=True)

# Save as a dict
dict_sql_symbol = dict(zip(sql_symbol['SymbolID'], sql_symbol['Symbol']))

Pathlink

In [3]:
# Assign pathlink
algo_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/insurance/algo_iis.xlsx"
sql_pathlink = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/insurance/sql_iis.xlsx"
same_field_data = r"/Users/rainmeteror/Desktop/BSC_Algo_Database_UAT/OneDrive_1_5-29-2023/insurance/iis_datafield.xlsx"

Algo Database

In [4]:
# Read data from algo database
df_algo = pd.read_excel(algo_pathlink)
df_algo.drop(['Unnamed: 0', 'SCN', 'REPORTED_DATE', 'AUDITED', 'MONTH_IN_PERIOD', 'CREATED_DATE', 'UPDATED_DATE'], axis=1, inplace=True)
df_algo = df_algo.loc[df_algo['FREQ_CODE'] != 'Y']
df_algo['YEAR'] = df_algo['REPORT_DATE'].dt.year
df_algo['QUARTER'] = df_algo['REPORT_DATE'].dt.quarter
df_algo.drop(['REPORT_DATE', 'FREQ_CODE'], axis=1, inplace=True)

# Sort Values
df_algo.sort_values(by=['YEAR', 'QUARTER', 'SECURITY_CODE'], ascending=[True, True, True], inplace=True)

# Print how many rows are used
print("ALGO DATABASE INSURANCE: There are: " + str(len(df_algo)) + " rows")
print("ALGO DATABASE INSURANCE: There are: " + str(len(df_algo.columns)) + " columns")

ALGO DATABASE INSURANCE: There are: 168 rows
ALGO DATABASE INSURANCE: There are: 86 columns

In [5]:
df_algo.head(1)

,SECURITY_CODE,IIS_01,IIS_011,IIS_012,IIS_013,IIS_02,IIS_021,IIS_022,IIS_023,IIS_024,...,IIS_521,IIS_60,IIS_61,IIS_62,IIS_70,IIS_191,IIS_201,IIS_211,YEAR,QUARTER
0,ABI,412253059894,473049097744,219543078,-61015580928,-24719751373,-21723599614,-2996151759,0,0,...,-20509230160,81820751022,0,81820751022,0,NaN,NaN,NaN,2020,1

Stockbiz Database

In [6]:
# Read data from sql database
df_sql = pd.read_excel(sql_pathlink)
df_sql.drop(['Unnamed: 0', 'ReportID', 'LastUpdated', 'ApprovedBy', 'Currency', 'CreatedBy', 'LastUpdatedBy',
             'ReportStatus', 'AssignedTo', 'CreatedAt'], axis=1, inplace=True)
df_sql = df_sql.loc[(df_sql['Quarter'] != 0) & (df_sql['Year'] > 2019)]
df_sql.sort_values(by=['Year', 'Quarter'], ascending=[True, True], inplace=True)

# Change the name of tickers
df_sql['SymbolID'] = df_sql['SymbolID'].map(dict_sql_symbol)

# Change the name of column SymbolID
df_sql.rename(
    columns={"SymbolID": "SECURITY_CODE",
             "Year": "YEAR",
             "Quarter": "QUARTER"},
    inplace=True
)

# Print how many rows are used
print("STOCKBIZ DATABASE BANKS: There are: " + str(len(df_sql)) + " rows")
print("STOCKBIZ DATABASE BANKS: There are: " + str(len(df_sql.columns)) + " rows")

STOCKBIZ DATABASE BANKS: There are: 143 rows
STOCKBIZ DATABASE BANKS: There are: 69 rows

In [7]:
df_sql.head(1)

,SECURITY_CODE,QUARTER,YEAR,PremiumFromDirectInsurance,PremiumFromReinsuranceInward,Deductions,PremiumReinsuranceOutward,PremiumFeeDeduction,PremiumDirectInsuranceRefund,PremiumReinsuranceInwardRefund,...,BalanceGuaranteeReserve,TaxationProfit,CorporateIncomeTax,NetProfitAfterTax,MinorityInterests,ProfitAfterTaxBelongingToShareholdersOfParentCompany,Dividend,Shares,BasicEPS,AdjustmentEPS
3,VNR,1,2020,0.0,630084610315,2.795949e+11,227013997816,15089088305,37491771698,0.0,...,0.0,23174914846,1487215089,21687699757,-195933485.0,2.188363e+10,NaN,NaN,NaN,NaN

In [8]:
# Get Symbol in insurance sectors
insurance_symbol = df_sql['SECURITY_CODE'].unique()

In [9]:
print("There are: "+ str(len(insurance_symbol))+ " stocks")

There are: 11 stocks

Process 2 tables

In [10]:
# Change the name of columns
same_column_name = pd.read_excel(same_field_data)
same_column_name.dropna(axis=0, inplace=True)

# Create a dict with key from bbs_sql and value from bbs_algo
dict_column_name = dict(zip(same_column_name['iis_sql'], same_column_name['iis_algo']))

In [11]:
same_column_name

    iis_algo                                            iis_sql
1    IIS_011                         PremiumFromDirectInsurance
2    IIS_012                       PremiumFromReinsuranceInward
3    IIS_013                       PremiumDirectInsuranceRefund
5    IIS_021                          PremiumReinsuranceOutward
6    IIS_022                                PremiumFeeDeduction
7    IIS_023                     PremiumReinsuranceInwardRefund
8    IIS_024                                    OtherDeductions
9    IIS_025  IncOrDecInUnearnedPremiumReservesAndMathematic...
12   IIS_041                   CommissionFromReinsuranceOutward
13   IIS_042                 OtherIncomeFromInsuranceActivities
14   IIS_043                        IncomeFromReinsuranceInward
15   IIS_044                       IncomeFromReinsuranceOutward
16   IIS_045                                        OtherIncome
17    IIS_10                   NetRevenuesOfInsuranceActivities
18    IIS_11                 ClaimsSettlementsOfDirectInsurance
19   IIS_111                 ClaimsSettlementsOfInsuranceInward
20   IIS_112              DeductionToTheClaimSettlementExpenses
22   IIS_122                              SubrogationRecoveries
23   IIS_123           RecoveriesFromCompensatedAndDamagedGoods
24    IIS_12                   RecoveriesFromReinsuranceOutward
25   IIS_124            ClaimSettlementExpensesOverTheRetention
27   IIS_126                             IncOrDecOfClaimReserve
31   IIS_161                      DecreaseOfCatastrophesReserve
32   IIS_162     ProvisionForCatastropheReserveChargedToTheYear
33    IIS_17                 OtherOperatingExpensesForInsurance
34   IIS_171           OtherOperatingExpensesForDirectInsurance
35   IIS_172                       CommissionForDirectInsurance
36   IIS_173                       ClaimsExpensesOnThirdParties
37   IIS_174                           HandlingCompensatedGoods
38   IIS_175                  ExpensesToPreventLimitRiskAndLoss
39   IIS_176                                       DamageSurvey
40   IIS_177              ValuationExpensesOfInsuranceContracts
41   IIS_178                   OthersExpensesForDirectInsurance
42   IIS_179         OtherOperatingExpensesForReinsuranceInward
43  IIS_1710                      ExpensesForReinsuranceOutward
44  IIS_1711                                OtherDirectExpenses
45    IIS_18                       TotalDirectOperatingExpenses
46    IIS_19                 GrossProfitFromInsuranceActivities
52   IIS_213                   NetProfitFromInsuranceActivities
53    IIS_25                                    SellingExpenses
54    IIS_26                             AdministrationExpenses
64    IIS_23                      IncomeFromFinancialActivities
66    IIS_24                                    FinancialIncome
67    IIS_31                               OtherOperatingIncome
68    IIS_32                             OtherOperatingExpenses
69    IIS_40                               OtherOperatingProfit
71    IIS_50                                    ProfitBeforeTax
72   IIS_501                            BalanceGuaranteeReserve
75   IIS_521                                 CorporateIncomeTax
76    IIS_60                                  NetProfitAfterTax
77    IIS_61                                  MinorityInterests
78    IIS_62  ProfitAfterTaxBelongingToShareholdersOfParentC...
79    IIS_70                                           BasicEPS

In [12]:
df_sql.dtypes

SECURITY_CODE                                            object
QUARTER                                                   int64
YEAR                                                      int64
PremiumFromDirectInsurance                              float64
PremiumFromReinsuranceInward                              int64
                                                         ...
ProfitAfterTaxBelongingToShareholdersOfParentCompany    float64
Dividend                                                float64
Shares                                                  float64
BasicEPS                                                float64
AdjustmentEPS                                           float64
Length: 69, dtype: object

In [13]:
# Change the name of df_sql based on name of the similar data field in df_algo
df_sql.rename(
    columns=dict_column_name,
    inplace=True
)

# Fill NA values in df_sql
df_sql = df_sql.fillna(0)

# Change the type of data which is same between two tables
df_sql[same_column_name['iis_algo']] = df_sql[same_column_name['iis_algo']].astype('Int64')

In [14]:
# Change the type of data in df_algo
# Just get the same data between two tables
df_algo[same_column_name['iis_algo']] = df_algo[same_column_name['iis_algo']].astype('Int64')

# Change the type of YEAR and QUARTER
df_algo =  df_algo.astype(
    {"YEAR": "Int64",
     "QUARTER": "Int64"},
)

# Get the data with same value in banking sector
df_algo = df_algo.loc[df_algo['SECURITY_CODE'].isin(insurance_symbol)]

In [15]:
# Get the final same columns
final_column = ["SECURITY_CODE", "YEAR", "QUARTER"]

for i in same_column_name['iis_algo']:
    final_column.append(i)

In [16]:
df_sql = df_sql[final_column]
df_algo = df_algo[final_column]

In [17]:
def compare_table(df1, df2, columns) -> pd.DataFrame():
    
    return pd.merge(df1, df2, on=columns, how='outer', indicator=True).query("_merge != 'both'")

In [18]:
final_result = {"field": [], "value_not_same": []}
for i in range(3, len(final_column)):
    check_columns = ["SECURITY_CODE", 'YEAR', 'QUARTER', final_column[i]]
    result = compare_table(
        df1=df_sql[check_columns], 
        df2=df_algo[check_columns], 
        columns=check_columns)
    
    value_not_same = len(result)/(len(df_algo) + len(df_sql))*100
    
    final_result["field"].append(final_column[i])
    final_result["value_not_same"].append(value_not_same)

In [19]:
pd.DataFrame(final_result).to_excel('check_iis.xlsx')

KHÃ”NG á»”N